<!-- 顶部横栏  -->
<div class="header01">
    <div class="location">北京</div>
    <div class="hello"><a href="">你好，请登录</a></div>
    <ul class="menu">
        <li><a href="" class="a1">免费注册</a></li>
        <li><a href="" class="a2">我的订单</a></li>
        <li>
          <a href="" class="a3">
            我的店铺
            <span class="iconfont icon-xiajiantou"></span>
          </a>
        </li>
        <li><a href="" class="a4">京东会员</a></li>
        <li>
          <a href=""  class="a5">
            企业采购
            <span class="iconfont icon-xiajiantou"></span>
          </a> 
        </li>
        <li>
          <a href="" class="a6">
            客户服务
            <span class="iconfont icon-xiajiantou"></span>
            </a>
        </li>
        <li><a href="" class="a7">网站导航</a></li>
        <li><a href="" class="a8">手机京东</a></li>
    </ul>
  </div>
<nav>
<!-- 搜索栏 --> 
  <div class="search-view">
  <div>
    <img  class="image-view" style="background-color: orange" width=300 height=150 />
  </div>
  <div class="search">
    <input class="search-input" style="background-color: white" #searchBox id="search-box"  placeholder="输入你想搜索的内容" style="text-indent: 10px"/>
    <ul class="search-menu">
      <li><a href="" class="s1">华为智慧屏</a></li>
      <li><a href="" class="s2">爆款手机</a></li>
      <li><a href="" class="s3">高效农机</a></li>
      <li><a href="" class="s4">没100-30</a></li>
      <li><a href="" class="s5">自营男装</a></li>
      <li><a href="" class="s1">猕猴桃</a></li>
      <li><a href="" class="s2">清风城市</a></li>
      <li><a href="" class="s3">笔记本</a></li>
      <li><a href="" class="s4">5折家电</a></li>
    </ul>
  </div>
  <div class="footer">
    <ul class="footer-menu">
       <li><a href="" class="f1">秒杀</a></li>
       <li><a href="" class="f1">优惠券</a></li>
       <li><a href="" class="f1">PLUS会员</a></li>
       <li><a href="" class="f1">品牌闪够</a></li>
       <li><a href="" class="f1">拍卖</a></li>
       <li><a href="" class="f1">京东时尚</a></li>
       <li><a href="" class="f1">京东超市</a></li>
       <li><a href="" class="f1">京东生鲜</a></li>
       <li><a href="" class="f1">海囤全球</a></li>
       <li><a href="" class="f1">京东金融</a></li>

    </ul>
  </div>
  </div>

  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>

<div class="main">
  <div class="left">left</div>
  <div class="right">right</div>
</div> 

<router-outlet></router-outlet>
<app-messages></app-messages>